/* AdminDashboard.css Encapsulado bajo .dashboard-container para evitar impacto global */
  /* Ajuste de Banner de Bienvenida */
  .dashboard-container .banner {
    padding: 30px 20px;
    text-align: center;
    background: linear-gradient(135deg, #00179b, #86c0ff);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background 1.5s ease;
    margin: 20px auto;
    width: 80%;
  }
  
  .dashboard-container .banner h1 {
    font-size: 36px;
    color: #ffffff;
    margin-bottom: 10px;
  }
  
  .dashboard-container .banner p {
    font-size: 20px;
    color: #f1f1f1;
  }
  


  

 
  
