/* Registro.css */

.register-container .registro-contenedor {
    display: flex;
    flex-direction: row;
    height: 100vh;
    background-color: #f2f2f2;
    font-family: 'Roboto', sans-serif;
}

.register-container .registro-menu {
    flex: 1;
    background: linear-gradient(to bottom, #004080, #d4d4d4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    padding: 50px;
    position: relative;
}

.register-container .registro-menu::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100px;
    background: rgba(255, 255, 255, 0.1);
}

.register-container .logo {
    width: 120px;
    margin-bottom: 20px;
}

.register-container .registro-menu h1 {
    font-size: 36px;
    margin-bottom: 10px;
    transition: color 0.3s ease;
}

.register-container .registro-menu p {
    font-size: 18px;
    margin-bottom: 20px;
    line-height: 1.5;
}

.register-container .registro-formulario {
    flex: 1;
    background-color: white;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: -5px 0px 20px rgba(0, 0, 0, 0.1);
    min-height: 600px;
}

.register-container .registro-formulario form {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.register-container .registro-entrada {
    margin-bottom: 15px;
}

.register-container .registro-entrada label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

.register-container .registro-entrada input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.register-container .registro-terminos label {
    font-size: 14px;
}

.register-container .registro-enviar .registro-boton {
    background-color: #004080;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.register-container .registro-enviar .registro-boton:hover {
    background-color: #003366;
}

.register-container .registro-exito {
    color: green;
    font-size: 14px;
    margin-top: 10px;
}

.register-container .registro-olvide {
    font-size: 14px;
    margin-top: 10px;
}

.register-container .volver-login {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: transparent;
    color: #ffffff;
    border: 1px solid #ffffff;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.register-container .volver-login:hover {
    background-color: #ffffff;
    color: #004080;
}
